body{
    background-color: black;
    font-family: arial;
    color: white;
}
h1{
    color: grey;
    font-family: verdana;
}
.maindiv{
    color: black;
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 25px;  
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);	
}